$theme-background: #fafaf6;
$theme-pale: #e0e0d7;

$theme-faded: rgb(158, 155, 147);
$accent-color-primary: hsl(278, 98%, 56%);
$accent-color-secondary: #00d459;
$accent-color-tertiary: #ff5500;

.theme-article {background-color: #ff1538;}

.red {color: $accent-color-primary;}
