// Set the base type styles and sizes
// TODO: Reset the base size for each breakpoint


/* Font stack mixins
(so I don't have to keep typing this shit)
----------------------------------------------------------------------------- */

@mixin sans-roman {font-family: 'SansRoman-Regular', Helvetica, Arial, sans-serif;}
@mixin sans-roman-rotalic {font-family: 'SansRoman-Rotalic', Helvetica, Arial, sans-serif;}
@mixin artisan {font-family: 'Artisan-Regular', Courier, monospace;}
@mixin romansque {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.02em;
}
@mixin shelter {font-family: 'Shelter-Medium', Helvetica, Arial, sans-serif;}
@mixin baskerville {font-family: 'Times New Roman', Georgia, serif;};

/* Font sizing
----------------------------------------------------------------------------- */

$font-tiny:   18px;
$font-small:  19px;
$font-medium: 20px;
$font-large:  21px;
$font-huge:   22px;

@mixin body-font {
	font-size: $font-tiny;
	@include breakpoint(small)  {font-size: $font-small;}
	@include breakpoint(medium) {font-size: $font-medium;}
	@include breakpoint(large)  {font-size: $font-large;}
	@include breakpoint(huge)   {font-size: $font-huge}
}


/* Basics - the foundational stuff
   This is just for setting up all the basic parts
   This is NOT for setting the size and fonts for every page type
   All of that stuff goes in the CSS for each kind of page
----------------------------------------------------------------------------- */

body {
  //@include sans-roman;
  @include baskerville;
  @include body-font;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, blockquote, pre {
  font-weight: normal;
  font-size: 1em;
}

h1 {
	// @include romansque;
	// font-family: Helvetica, sans-serif;
	font-weight: bold;
	// font-size: 1.5em;
	border: 3px solid black;
	background-color: white;
	// letter-spacing: -0.07em;
	// letter-spacing: 0.07em;
	// text-transform: uppercase;
	// color: $accent-color-primary;
	margin: 0 0 2em 0;
	padding: 7.5px 20px 9.5px 20px;
	display: inline-block;
	// padding-bottom: 2em;
	// padding-top: 2em;
	&:first-of-type {
		// padding-top: 0;
	}
}

p {
	margin-top: 0;
	margin-bottom: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.with-indent {
	text-indent: 2.5em;
}

.embiggen {font-size: 1.5em;}
