@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap");
html, body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'SansRoman-Regular';
  src: url("/fonts/sansroman-regular-webfont.eot");
  src: url("/fonts/sansroman-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sansroman-regular-webfont.woff") format("woff"), url("/fonts/sansroman-regular-webfont.ttf") format("truetype"), url("/fonts/sansroman-regular-webfont.svg#sans_romanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SansRoman-Rotalic';
  src: url("/fonts/sansroman-rotalic-webfont.eot");
  src: url("/fonts/sansroman-rotalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sansroman-rotalic-webfont.woff") format("woff"), url("/fonts/sansroman-rotalic-webfont.ttf") format("truetype"), url("/fonts/sansroman-rotalic-webfont.svg#sans_romanrotalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Artisan-Regular';
  src: url("/fonts/artisan-regular-webfont.eot");
  src: url("/fonts/artisan-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/artisan-regular-webfont.woff2") format("woff2"), url("/fonts/artisan-regular-webfont.woff") format("woff"), url("/fonts/artisan-regular-webfont.ttf") format("truetype"), url("/fonts/artisan-regular-webfont.svg#artisanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RomanSque-Regular';
  src: url("/fonts/romansque-regular-webfont.eot");
  src: url("/fonts/romansque-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/romansque-regular-webfont.woff2") format("woff2"), url("/fonts/romansque-regular-webfont.woff") format("woff"), url("/fonts/romansque-regular-webfont.ttf") format("truetype"), url("/fonts/romansque-regular-webfont.svg#romansqueregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Shelter-Medium';
  src: url("/fonts/shelter-medium-webfont.eot");
  src: url("/fonts/shelter-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/shelter-medium-webfont.woff2") format("woff2"), url("/fonts/shelter-medium-webfont.woff") format("woff"), url("/fonts/shelter-medium-webfont.ttf") format("truetype"), url("/fonts/shelter-medium-webfont.svg#sheltermedium") format("svg");
  font-weight: normal;
  font-style: normal; }

.theme-article {
  background-color: #ff1538; }

.red {
  color: #ac21fd; }

/* Horizontal margins
----------------------------------------------------------------------------- */
/* Vertical margins -- normal
----------------------------------------------------------------------------- */
.content {
  padding-top: 120px;
  margin-bottom: 130px; }
  @media screen and (min-width: 750px) {
    .content {
      padding-top: 192px; } }
  @media screen and (min-width: 920px) {
    .content {
      padding-top: 216px; } }
  @media screen and (min-width: 1150px) {
    .content {
      padding-top: 224px; } }
  @media screen and (min-width: 1500px) {
    .content {
      padding-top: 266px; } }
  @media screen and (min-width: 750px) {
    .content {
      margin-bottom: 148px; } }
  @media screen and (min-width: 920px) {
    .content {
      margin-bottom: 162px; } }
  @media screen and (min-width: 1150px) {
    .content {
      margin-bottom: 184px; } }
  @media screen and (min-width: 1500px) {
    .content {
      margin-bottom: 200px; } }
.articles .content {
  padding-top: 244px; }
  @media screen and (min-width: 750px) {
    .articles .content {
      padding-top: 192px; } }
  @media screen and (min-width: 920px) {
    .articles .content {
      padding-top: 216px; } }
  @media screen and (min-width: 1150px) {
    .articles .content {
      padding-top: 224px; } }
  @media screen and (min-width: 1500px) {
    .articles .content {
      padding-top: 266px; } }
/* Font stack mixins
(so I don't have to keep typing this shit)
----------------------------------------------------------------------------- */
/* Font sizing
----------------------------------------------------------------------------- */
/* Basics - the foundational stuff
   This is just for setting up all the basic parts
   This is NOT for setting the size and fonts for every page type
   All of that stuff goes in the CSS for each kind of page
----------------------------------------------------------------------------- */
body {
  font-family: 'Times New Roman', Georgia, serif;
  font-size: 18px;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures; }
  @media screen and (min-width: 750px) {
    body {
      font-size: 19px; } }
  @media screen and (min-width: 920px) {
    body {
      font-size: 20px; } }
  @media screen and (min-width: 1150px) {
    body {
      font-size: 21px; } }
  @media screen and (min-width: 1500px) {
    body {
      font-size: 22px; } }
h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, blockquote, pre {
  font-weight: normal;
  font-size: 1em; }

h1 {
  font-weight: bold;
  margin: 0 0 2em 0;
  display: inline-block; }

p {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.with-indent {
  text-indent: 2.5em; }

.embiggen {
  font-size: 1.5em; }

.navigation {
  z-index: 100;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  margin-top: 6px;
  position: fixed;
  width: 100%; }
  @media screen and (min-width: 750px) {
    .navigation {
      padding-top: 20px; } }
  @media screen and (min-width: 750px) and (min-width: 750px) {
    .navigation {
      padding-top: 24px; } }
  @media screen and (min-width: 750px) and (min-width: 920px) {
    .navigation {
      padding-top: 27px; } }
  @media screen and (min-width: 750px) and (min-width: 1150px) {
    .navigation {
      padding-top: 32px; } }
  @media screen and (min-width: 750px) and (min-width: 1500px) {
    .navigation {
      padding-top: 38px; } }
  .navigation .nav-wrapper {
    margin-left: 6px;
    margin-right: 6px; }
    @media screen and (min-width: 750px) {
      .navigation .nav-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center; } }
  @media screen and (min-width: 750px) and (min-width: 750px) {
    .navigation .nav-wrapper {
      padding-left: 48px;
      padding-right: 48px; } }
  @media screen and (min-width: 750px) and (min-width: 920px) {
    .navigation .nav-wrapper {
      padding-left: 81px;
      padding-right: 81px; } }
  @media screen and (min-width: 750px) and (min-width: 1150px) {
    .navigation .nav-wrapper {
      padding-left: 96px;
      padding-right: 96px; } }
  @media screen and (min-width: 750px) and (min-width: 1500px) {
    .navigation .nav-wrapper {
      padding-left: 152px;
      padding-right: 152px; } }
  .navigation .nav-inner-wrapper {
    padding: 20px 32px 22px 32px;
    background-color: #ffffff;
    box-shadow: 0px 0px 60px #bb00ff; }
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .navigation li {
    list-style: inline;
    display: inline-block; }
    @media screen and (min-width: 750px) {
      .navigation li {
        padding-right: 10px; } }
    @media screen and (min-width: 920px) {
      .navigation li {
        padding-right: 18px; } }
    .navigation li:last-of-type {
      padding-right: 0; }
  .navigation li a {
    color: #000;
    text-decoration: none; }
  .navigation li a:hover {
    color: #000; }
  .navigation .nav-item {
    color: rgba(0, 0, 0, 0.5); }
  .navigation .nav-current {
    color: #000; }
  @media screen and (min-width: 750px) {
    .navigation .tiny-title {
      display: none; } }
  .navigation .menu-button {
    float: right;
    padding-right: 0; }
    @media screen and (min-width: 750px) {
      .navigation .menu-button {
        display: none; } }
  .navigation .hide-small {
    display: none; }
    @media screen and (min-width: 750px) {
      .navigation .hide-small {
        display: block; } }
.pushy li {
  padding: 10px 16px 12px 16px;
  height: 19px;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .pushy li:last-of-type {
    border-bottom: none; }

button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  font-size: 18px;
  border: none;
  padding: 4px 0px 0px 0px;
  text-align: center; }
  @media screen and (min-width: 750px) {
    button {
      font-size: 19px; } }
  @media screen and (min-width: 920px) {
    button {
      font-size: 20px; } }
  @media screen and (min-width: 1150px) {
    button {
      font-size: 21px; } }
  @media screen and (min-width: 1500px) {
    button {
      font-size: 22px; } }
button.menu-button {
  background-color: #00d459; }

button.close-button {
  background-color: transparent;
  color: white;
  padding: 14px 16px 14px 16px;
  border-radius: 0px;
  float: right; }
  button.close-button:hover {
    color: #fff; }

/* The footer styles
----------------------------------------------------------------------------- */
/*

.sticky-footer {
  @include footer-height;
  background-color: $theme-background;
  position: fixed;
  bottom: 0;
  width: 100%;
  visibility: hidden;
    @include breakpoint(small)  {visibility: visible;}
}
.sticky-footer-inner-1 {
  @include margins-horiz;
}
.sticky-footer-inner-2 {
  border-top: 20px solid #000;
}
*/
/*
Add styles for each of the page types
that are not covered elswhere
*/
html {
  background-color: #f7f6ed; }

/*
To do:
- set colours for each page, this includes the thick rule, etc.
*/
/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  padding: 6px 6px 0 0;
  width: 66.66%;
  top: 0;
  z-index: 9999;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
  .pushy ul {
    margin-top: 0px;
    padding-left: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.02em;
    list-style-type: none; }
  .pushy li {
    list-style: none;
    text-decoration: none; }
  .pushy a {
    display: block;
    color: #fff;
    margin-bottom: 36px;
    text-decoration: none; }
  .pushy a:hover {
    color: #fff; }
  .pushy.pushy-left {
    left: 0; }
  .pushy.pushy-right {
    right: 0; }

.nav-pushy-wrapper {
  background: #002a9c;
  border-radius: 30px; }

.pushy-content {
  visibility: hidden; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible; }

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */ }
  .pushy-submenu ul {
    transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out; }
    .pushy-submenu ul .pushy-link {
      transition: opacity 0.2s ease-in-out; }
  .pushy-submenu button {
    width: 100%;
    color: #b3b3b1;
    text-align: left;
    background: transparent;
    border: 0; }
    .pushy-submenu button:hover {
      color: #FFF; }
  .pushy-submenu > a,
  .pushy-submenu > button {
    position: relative; }
  .pushy-submenu > a::after,
  .pushy-submenu > button::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    background: url("../img/arrow.svg") no-repeat;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 0.2s; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden; }

.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }
  .pushy-submenu-open ul {
    max-height: 1000px;
    visibility: visible; }
  .pushy-submenu-open .pushy-link {
    opacity: 1; }
  .pushy-submenu-open a::after,
  .pushy-submenu-open button::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }

.go-to-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  margin-top: 76px;
  position: fixed;
  display: flex;
  margin-left: 6px;
  width: 100%;
  z-index: 100; }
  @media screen and (min-width: 750px) {
    .go-to-wrapper {
      margin-top: 101px; } }
  @media screen and (min-width: 920px) {
    .go-to-wrapper {
      margin-top: 106px; } }
  @media screen and (min-width: 1150px) {
    .go-to-wrapper {
      margin-top: 112px; } }
  @media screen and (min-width: 1500px) {
    .go-to-wrapper {
      margin-top: 120px; } }
  @media screen and (min-width: 750px) {
    .go-to-wrapper {
      justify-content: center;
      align-items: center;
      margin-left: 0; } }
.go-to-inner {
  background-color: #bb00ff;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; }
  @media screen and (min-width: 750px) {
    .go-to-inner {
      padding: 20px 32px 22px 32px; } }
.go-to {
  box-shadow: 0px 0px 60px #bb00ff;
  color: white; }
  @media screen and (min-width: 750px) {
    .go-to {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .go-to ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .go-to li {
    display: block;
    padding: 10px 16px 10px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    .go-to li:last-of-type {
      border-bottom: none; }
    @media screen and (min-width: 750px) {
      .go-to li {
        border-bottom: none; } }
    @media screen and (min-width: 750px) {
      .go-to li {
        list-style: inline;
        float: left;
        padding: 0 18px 0 0; } }
    @media screen and (min-width: 920px) {
      .go-to li {
        padding: 0 26px 0 0; } }
    .go-to li:last-of-type {
      padding-right: 0; }
  .go-to li a {
    color: #fff;
    text-decoration: none;
    text-align: center; }
  .go-to li a:hover {
    color: rgba(255, 255, 255, 0.7); }

.go-to-heading {
  font-family: 'Times New Roman', Georgia, serif;
  font-style: italic; }
  @media screen and (min-width: 750px) {
    .go-to-heading {
      margin-top: -1px; } }
  @media screen and (min-width: 1150px) {
    .go-to-heading {
      margin-top: -2px; } }
/*
this lets us set a custom position for the anchors
to accomodate the fixed page header
*/
a.anchor {
  display: block;
  position: relative;
  top: -342px;
  visibility: hidden; }
  @media screen and (min-width: 750px) {
    a.anchor {
      top: -307px; } }
  @media screen and (min-width: 920px) {
    a.anchor {
      top: -338px; } }
  @media screen and (min-width: 1150px) {
    a.anchor {
      top: -353px; } }
  @media screen and (min-width: 1500px) {
    a.anchor {
      top: -404px; } }
.further {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  color: #9e9b93; }
  .further a {
    color: #9e9b93;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1px; }
    .further a:hover {
      color: #ff5500;
      border-color: #ff5500;
      transition: color 0.2s ease, border-bottom-color 0.2s ease; }

.call-out {
  color: #ac21fd; }

.contributors,
.contributor-list {
  max-width: 720px; }

.excerpted-in, .contributors {
  padding-left: 1.25em; }

.excerpted, .contributor-list {
  padding-left: 2.5em; }

.criticism .content h1, .books .content h1 {
  margin-left: 40px;
  margin-right: 40px; }

.criticism .content ul, .books .content ul {
  text-decoration: none;
  margin: 0;
  padding: 0; }

.criticism .content li, .books .content li {
  list-style-type: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 40px 12px 40px; }
  .criticism .content li:first-of-type, .books .content li:first-of-type {
    border-top: none; }

.criticism .content .excerpted-in, .books .content .excerpted-in {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em; }

.criticism .content .excerpted, .books .content .excerpted {
  margin-top: 0; }
  .criticism .content .excerpted p, .books .content .excerpted p {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none; }

.books .content li {
  padding: 40px 40px 42px 40px; }

.curating .screenings {
  font-family: 'Times New Roman', Georgia, serif;
  padding-left: 1.25em; }

.curating-explanation {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  color: #000; }
  .curating-explanation a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #9e9b93;
    padding-bottom: 1px; }
    .curating-explanation a:hover {
      color: #ff5500;
      border-color: #ff5500;
      transition: color 0.2s ease, border-bottom-color 0.2s ease; }

.screening-items {
  padding-left: 2.5em; }
  .screening-items a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #9e9b93; }
    .screening-items a:hover {
      border-bottom: 1px solid #ff5500;
      transition: color 0.2s ease, border-bottom-color 0.2s ease; }

.curating .content p {
  margin-left: 0.4em;
  max-width: 720px; }

.extra-top-space {
  margin-top: 1em; }

.extra-bottom-space {
  margin-bottom: 1em; }

.quote {
  border-left: 1px solid #9e9b93;
  padding-left: 1.25em; }

.ongoing-with-divider {
  border-bottom: 1px solid #ac21fd;
  padding-bottom: 3em; }

a.red-link {
  color: #ac21fd;
  border-bottom: 1px solid #ac21fd; }

.teaching .content ul {
  margin: 1em 0 0 0;
  padding: 0; }

.teaching .content li {
  list-style: none;
  margin-left: 0; }

.teaching .content li:before {
  content: "— "; }

.about p {
  font-size: 1.8em;
  line-height: 1.5;
  letter-spacing: -0.01em;
  max-width: 800px;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 920px) {
    .about p {
      font-size: 2em;
      line-height: 1.45;
      letter-spacing: -0.013em; } }
  @media screen and (min-width: 1500px) {
    .about p {
      max-width: 880px; } }
  .about p a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #bbb; }
    .about p a:hover {
      color: #ff5500;
      border-bottom-color: #ff5500;
      transition: color 0.2s ease, border-bottom-color 0.2s ease; }

/*# sourceMappingURL=main.css.map */