html, body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'SansRoman-Regular';
  src: url("/fonts/sansroman-regular-webfont.eot");
  src: url("/fonts/sansroman-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sansroman-regular-webfont.woff") format("woff"), url("/fonts/sansroman-regular-webfont.ttf") format("truetype"), url("/fonts/sansroman-regular-webfont.svg#sans_romanregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SansRoman-Rotalic';
  src: url("/fonts/sansroman-rotalic-webfont.eot");
  src: url("/fonts/sansroman-rotalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/sansroman-rotalic-webfont.woff") format("woff"), url("/fonts/sansroman-rotalic-webfont.ttf") format("truetype"), url("/fonts/sansroman-rotalic-webfont.svg#sans_romanrotalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Artisan-Regular';
  src: url("/fonts/artisan-regular-webfont.eot");
  src: url("/fonts/artisan-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/artisan-regular-webfont.woff2") format("woff2"), url("/fonts/artisan-regular-webfont.woff") format("woff"), url("/fonts/artisan-regular-webfont.ttf") format("truetype"), url("/fonts/artisan-regular-webfont.svg#artisanregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RomanSque-Regular';
  src: url("/fonts/romansque-regular-webfont.eot");
  src: url("/fonts/romansque-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/romansque-regular-webfont.woff2") format("woff2"), url("/fonts/romansque-regular-webfont.woff") format("woff"), url("/fonts/romansque-regular-webfont.ttf") format("truetype"), url("/fonts/romansque-regular-webfont.svg#romansqueregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Shelter-Medium';
  src: url("/fonts/shelter-medium-webfont.eot");
  src: url("/fonts/shelter-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/shelter-medium-webfont.woff2") format("woff2"), url("/fonts/shelter-medium-webfont.woff") format("woff"), url("/fonts/shelter-medium-webfont.ttf") format("truetype"), url("/fonts/shelter-medium-webfont.svg#sheltermedium") format("svg");
  font-weight: normal;
  font-style: normal; }
.theme-article {
  background-color: #ff1538; }

.red {
  color: #ff3c4f; }

/* Horizontal margins
----------------------------------------------------------------------------- */
/* Vertical margins -- normal
----------------------------------------------------------------------------- */
.content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 140px;
  margin-bottom: 184px; }
  @media screen and (min-width: 670px) {
    .content {
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 900px) {
    .content {
      padding-left: 27px;
      padding-right: 27px; } }
  @media screen and (min-width: 1150px) {
    .content {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 1500px) {
    .content {
      padding-left: 38px;
      padding-right: 38px; } }
  @media screen and (min-width: 670px) {
    .content {
      padding-top: 168px; } }
  @media screen and (min-width: 900px) {
    .content {
      padding-top: 189px; } }
  @media screen and (min-width: 1150px) {
    .content {
      padding-top: 224px; } }
  @media screen and (min-width: 1500px) {
    .content {
      padding-top: 266px; } }

/* Font stack mixins
(so I don't have to keep typing this shit)
----------------------------------------------------------------------------- */
/* Font sizing
----------------------------------------------------------------------------- */
/* Basics - the foundational stuff
   This is just for setting up all the basic parts
   This is NOT for setting the size and fonts for every page type
   All of that stuff goes in the CSS for each kind of page
----------------------------------------------------------------------------- */
body {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 13px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures; }
  @media screen and (min-width: 670px) {
    body {
      font-size: 14px; } }
  @media screen and (min-width: 900px) {
    body {
      font-size: 14px; } }
  @media screen and (min-width: 1150px) {
    body {
      font-size: 15px; } }
  @media screen and (min-width: 1500px) {
    body {
      font-size: 16px; } }

h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, blockquote, pre {
  font-weight: normal;
  font-size: 1em; }

h1 {
  font-size: 1.4em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ff3c4f;
  margin: 0;
  padding-bottom: 2em;
  padding-top: 2em; }
  h1:first-of-type {
    padding-top: 0; }

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.embiggen {
  font-size: 1.5em; }

.navigation {
  z-index: 100;
  font-family: 'RomanSque-Regular', Helvetica, Arial, sans-serif;
  padding-top: 20px;
  background-color: #fbfbfb;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0; }
  @media screen and (min-width: 670px) {
    .navigation {
      padding-top: 24px; } }
  @media screen and (min-width: 900px) {
    .navigation {
      padding-top: 27px; } }
  @media screen and (min-width: 1150px) {
    .navigation {
      padding-top: 32px; } }
  @media screen and (min-width: 1500px) {
    .navigation {
      padding-top: 38px; } }
  .navigation .nav-wrapper {
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 670px) {
      .navigation .nav-wrapper {
        padding-left: 24px;
        padding-right: 24px; } }
    @media screen and (min-width: 900px) {
      .navigation .nav-wrapper {
        padding-left: 27px;
        padding-right: 27px; } }
    @media screen and (min-width: 1150px) {
      .navigation .nav-wrapper {
        padding-left: 32px;
        padding-right: 32px; } }
    @media screen and (min-width: 1500px) {
      .navigation .nav-wrapper {
        padding-left: 38px;
        padding-right: 38px; } }
  .navigation .nav-inner-wrapper {
    padding-bottom: 40px;
    border-bottom: 20px solid black; }
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .navigation li {
    list-style: inline;
    float: left;
    padding-right: 15px;
    display: block; }
  .navigation li a {
    color: #000;
    text-decoration: none;
    text-align: center; }
  .navigation li a:hover {
    color: #ff3c4f; }
  .navigation li.nav-name {
    padding-right: 50px; }
  .navigation .nav-item {
    color: #aaa; }
  .navigation .nav-current {
    color: #000; }

.sticky-footer {
  background-color: #fbfbfb;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 92px;
  /*
    this needs to be set in PX to match the nav height
    so there will need to be breakpoint sizes here
  */ }

.sticky-footer-inner-1 {
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (min-width: 670px) {
    .sticky-footer-inner-1 {
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 900px) {
    .sticky-footer-inner-1 {
      padding-left: 27px;
      padding-right: 27px; } }
  @media screen and (min-width: 1150px) {
    .sticky-footer-inner-1 {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 1500px) {
    .sticky-footer-inner-1 {
      padding-left: 38px;
      padding-right: 38px; } }

.sticky-footer-inner-2 {
  border-top: 20px solid #000; }

/*
Add styles for each of the page types
that are not covered elswhere
*/
html {
  background-color: #fbfbfb; }

/*
To do:
- set colours for each page, this includes the thick rule, etc.
*/
.go-to {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'RomanSque-Regular', Helvetica, Arial, sans-serif;
  position: absolute;
  margin-top: 92px;
  padding-top: 17px;
  color: #aaa; }
  @media screen and (min-width: 670px) {
    .go-to {
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 900px) {
    .go-to {
      padding-left: 27px;
      padding-right: 27px; } }
  @media screen and (min-width: 1150px) {
    .go-to {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 1500px) {
    .go-to {
      padding-left: 38px;
      padding-right: 38px; } }
  .go-to ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .go-to li {
    padding-right: 15px;
    display: block; }
    @media screen and (min-width: 670px) {
      .go-to li {
        list-style: inline;
        float: left; } }
  .go-to li a {
    color: #aaa;
    text-decoration: none;
    text-align: center; }
  .go-to li a:hover {
    color: #ff3c4f; }

.go-to-heading {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-style: italic; }

/*
this lets us set a custom position for the anchors
to accomodate the fixed page header
*/
a.anchor {
  display: block;
  position: relative;
  top: -170px;
  visibility: hidden; }

.article {
  margin-bottom: 3em; }
  .article a {
    color: #aaa;
    text-decoration: underline; }
    .article a:hover {
      color: #ff3c4f; }

.further {
  font-family: 'RomanSque-Regular', Helvetica, Arial, sans-serif;
  color: #aaa; }

.call-out {
  color: #ff3c4f; }

.contributors,
.contributor-list {
  max-width: 720px; }

.excerpted-in, .contributors {
  padding-left: 1.25em; }

.excerpted, .contributor-list {
  padding-left: 2.5em; }

.about p {
  font-size: 2em;
  line-height: 1.45;
  letter-spacing: -0.01em;
  max-width: 800px; }

/*# sourceMappingURL=main.css.map */
