/* The footer styles
----------------------------------------------------------------------------- */
/*

.sticky-footer {
  @include footer-height;
  background-color: $theme-background;
  position: fixed;
  bottom: 0;
  width: 100%;
  visibility: hidden;
    @include breakpoint(small)  {visibility: visible;}
}
.sticky-footer-inner-1 {
  @include margins-horiz;
}
.sticky-footer-inner-2 {
  border-top: 20px solid #000;
}
*/
