.navigation {
  z-index: 100;
  // @include romansque;
  // margin-top: 6px;
  position: fixed;
  width: 100%;
  @include breakpoint(small) {
    // @include margin-vert-top;
    margin-top: 10px;
  }

  // The outer wrapper provides the margins
  .nav-wrapper { 
    // margin-left: 6px;
    // margin-right: 6px;
    @include breakpoint(small) {
      margin-left: 10px;
      margin-right: 10px;
      // @include margins-horiz;
      // display: flex;
      // width: 100%;
      // justify-content: center;
      align-items: left;
    }
  }

  // The inner wrapper provides the bottom rule
  .nav-inner-wrapper {
    padding: 10px 16px 8px 16px;  
    background-color: $accent-color-secondary;
    border-radius: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: inline;
    display: inline-block;
    @include breakpoint(small) { padding-right: 10px; }
    @include breakpoint(medium) { padding-right: 18px; }
    &:last-of-type {padding-right: 0;}
  }
  li a {
    color: #000;
    text-decoration: none;
  }
  li a:hover {
    color: #000;
  }
  li.nav-name {
    // padding-right: 50px;
  }

  .nav-item {color: rgba(255,255,255,0.7);}
  .nav-current {color: #fff;}

  .tiny-title {
    @include breakpoint(small)  {display: none;}
  }
  .menu-button {
    float: right;
    padding-right: 0;
    @include breakpoint(small)  {display: none;}

  }
  .hide-small {
    display: none;
    @include breakpoint(small)  {display: block;}
  }

}

.pushy {
  ul { 
    // padding: 6px 0 6px 0;
  }
  li {
    padding: 10px 16px 12px 16px;
    height: 19px;
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    &:last-of-type { 
      border-bottom: none;
    }
  }
}

button {
  @include romansque;
  @include body-font;
  border: none;
  padding: 4px 0px 0px 0px;
  text-align: center;
}
button.menu-button {
  background-color: $accent-color-secondary;
}
button.close-button {
  background-color: transparent;
  color: white;
  // margin: 6px 6px 0 0;
  padding: 14px 16px 14px 16px;  
  border-radius: 5px;
  float: right;
  &:hover {
    color: #fff;
  }
}
