.go-to-wrapper {
  // @include margins-horiz;
  @include romansque;
  @include go-to-top-margin;
  position: fixed;
  display: flex;
  margin-left: 6px;
  width: 100%;
  z-index: 100;
  @include breakpoint(small)  {
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

.go-to-inner {
  background-color: rgb(187, 0, 255);
  // border: 3px solid black;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  @include breakpoint(small){
    padding: 20px 32px 22px 32px;  
  }
}

.go-to {
  box-shadow: 0px 0px 60px rgb(187, 0, 255);

  @include breakpoint(small)  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  color: white;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    padding: 10px 16px 10px 16px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    &:last-of-type {border-bottom: none;}
    @include breakpoint(small) {border-bottom: none;}

    // changes the list type to be a row instead of a stack
    // on screens larger than phone-sized.
    @include breakpoint(small)  {
      list-style: inline;
      float: left;
      padding: 0 18px 0 0;
    }
    @include breakpoint(medium)  {padding: 0 26px 0 0;}
    &:last-of-type {padding-right: 0;}
  }
  li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  li a:hover {color: rgba(255,255,255,0.7);}
}
.go-to-heading {
  @include baskerville;
  font-style: italic;
  @include breakpoint(small)  {
    margin-top: -1px;
  }
  @include breakpoint(large)  {
    margin-top: -2px;
  }
}
.go-to-link {

}

/*
this lets us set a custom position for the anchors
to accomodate the fixed page header
*/
a.anchor {
    display: block;
    position: relative;
    top: -342px; // TODO: change for different breakpoints
    visibility: hidden;
    @include breakpoint(small)  {top: -307px;}
    @include breakpoint(medium) {top: -338px;}
    @include breakpoint(large)  {top: -353px;}
    @include breakpoint(huge)   {top: -404px;}
}

// .article {
//   margin-bottom: 3em;
//   a {
//     color: $theme-faded;
//     text-decoration: underline;
//     &:hover {
//       color: $accent-color-tertiary;
//     }
//   }
// }

.further {
  @include romansque;
  color: $theme-faded;
  a {
    color: $theme-faded;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1px;
    &:hover {
      color: $accent-color-tertiary;
      border-color: $accent-color-tertiary;
      transition: color 0.2s ease, border-bottom-color 0.2s ease;
    }
  }
}

.call-out {
  color: $accent-color-primary;
}
.contributors,
.contributor-list {
  max-width: 720px;
}

.excerpted-in, .contributors {padding-left: 1.25em;}
.excerpted, .contributor-list {padding-left: 2.5em;}
