.go-to {
  @include margins-horiz;
  @include romansque;
  position: absolute;
  margin-top: $footer-height;
  padding-top: 17px;
  color: $theme-faded;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-right: 15px;
    display: block;
    // changes the list type to be a row instead of a stack
    // on screens larger than phone-sized.
    @include breakpoint(small)  {
      list-style: inline;
      float: left;;
    }
  }
  li a {
    color: $theme-faded;
    text-decoration: none;
    text-align: center;
  }
  li a:hover {color: $accent-color-primary;}
}
.go-to-heading {@include baskerville; font-style: italic;}

/*
this lets us set a custom position for the anchors
to accomodate the fixed page header
*/
a.anchor {
    display: block;
    position: relative;
    top: -170px; // TODO: change for different breakpoints
    visibility: hidden;
}

.article {
  margin-top: 3em;
  a {
    color: $theme-faded;
    text-decoration: underline;
    &:hover {
      color: $accent-color-primary;
    }
  }
}

.further {
  @include romansque;
  color: $theme-faded;
}

.call-out {
  color: $accent-color-primary;
}
.contributors,
.contributor-list {
  max-width: 720px;
}

.excerpted-in, .contributors {padding-left: 1.25em;}
.excerpted, .contributor-list {padding-left: 2.5em;}
