.go-to {
  @include margins-horiz;
  position: absolute;
  margin-top: $footer-height;
  padding-top: 15px;
  color: $theme-faded;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: inline;
    float: left;
    padding-right: 15px;
    display: block;
  }
  li a {
    color: $theme-faded;
    text-decoration: none;
    text-align: center;
  }
  li a:hover {color: $link-hover;}
}

/*
this lets us set a custom position for the anchors
to accomodate the fixed page header
*/
a.anchor {
    display: block;
    position: relative;
    top: -170px; // TODO: change for different breakpoints
    visibility: hidden;
}

.article {margin-top: 2em;}

.further {
  @include romansque;
  color: $theme-faded;
}

.excerpted-in {padding-left: 1.25em;}
.excerpted {padding-left: 2.5em;}
