
<!-- Pushy Menu -->
<nav class="pushy pushy-right">
  <div class="nav-pushy-wrapper">
    <button class="tiny-title close-button menu-btn">Close Menu</button>
    <div class="pushy-content">
      <ul>
        <li><a class="pushy-link" href="/">Home</a></li>
        <li><a class="pushy-link" href="/books/">Books</a></li>
        <li><a class="pushy-link" href="/articles/">Articles</a></li>
        <li><a class="pushy-link" href="/criticism/">Criticism</a></li>
        <li><a class="pushy-link" href="/curating/">Curating</a></li>
        <li><a class="pushy-link" href="/book-series/">Book series</a></li>
        <li><a class="pushy-link" href="/teaching/">Teaching</a></li>
        <li><a class="pushy-link" href="/about/">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- The Normal Menu -->
<nav id="nav" class="navigation">
  <div class="nav-wrapper">
    <div class="nav-inner-wrapper">
      <ul>

        <!-- For smaller screens -->
        <li class="nav-item nav-current tiny-title">Erika Balsom{{if not .IsHome}}: {{ .Title }}{{end}}</li>
        <button class="nav-item nav-current tiny-title menu-button menu-btn">Menu</button>

        <!-- For larger screens -->
        <li class="nav-name"><a class="nav-item nav-current hide-small" href="/">Erika Balsom</a></li>
        <li><a class="nav-item hide-small" href="/books/">Books</a></li>
        <li><a class="nav-item hide-small" href="/articles/">Articles</a></li>
        <li><a class="nav-item hide-small" href="/criticism/">Criticism</a></li>
        <li><a class="nav-item hide-small" href="/curating/">Curating</a></li>
        <li><a class="nav-item hide-small" href="/book-series/">Book series</a></li>
        <li><a class="nav-item hide-small" href="/teaching/">Teaching</a></li>
        <li><a class="nav-item hide-small" href="/about/">About</a></li>
      </ul>
    </div>
  </div>
</nav>
