<!-- 1 level indented, since it is inside the <body> -->
<div class="navigation">
  <div class="nav-wrapper">
    <div class="nav-name">
      Erika Balsom
    </div>
    <div class="nav-sections">
      <ul>
        <li><a class="nav-item" href="/about/">About</a></li>
        <li><a class="nav-item" href="/books/">Books</a></li>
        <li><a class="nav-item" href="/articles/">Articles</a></li>
        <li><a class="nav-item" href="/criticism/">Criticism</a></li>
        <li><a class="nav-item" href="/talks/">Talks</a></li>
        <li><a class="nav-item" href="/teaching/">Teaching</a></li>
      </ul>
    </div>
  </div>
</div>
