
<!-- Pushy Menu -->
<nav class="pushy pushy-right">
  <div class="pushy-content">
    <ul>
      <button class="tiny-title close-button menu-btn">&#215;</button>
      <li><a class="pushy-link" href="/books/">Books</a></li>
      <li><a class="pushy-link" href="/articles/">Articles</a></li>
      <li><a class="pushy-link" href="/criticism/">Criticism</a></li>
      <!-- <li><a class="pushy-link" href="/talks/">Talks</a></li> -->
      <li><a class="pushy-link" href="/teaching/">Teaching</a></li>
      <li><a class="pushy-link" href="/about/">About</a></li>
    </ul>
  </div>
</nav>

<!-- The Normal Menu -->
<nav id="nav" class="navigation">
  <div class="nav-wrapper">
    <div class="nav-inner-wrapper">
      <ul>
        <!-- For smaller screens -->
        <li class="nav-item nav-current tiny-title">Erika Balsom: {{ .Title }}</li>
        <button class="nav-item nav-current tiny-title menu-button menu-btn">+</button>
        <!-- For larger screens -->
        <li class="nav-name"><a class="nav-item nav-current hide-small" href="/">Erika Balsom</a></li>
        <li><a class="nav-item hide-small" href="/books/">Books</a></li>
        <li><a class="nav-item hide-small" href="/articles/">Articles</a></li>
        <li><a class="nav-item hide-small" href="/criticism/">Criticism</a></li>
        <!-- <li><a class="nav-item hide-small" href="/talks/">Talks</a></li> -->
        <li><a class="nav-item hide-small" href="/teaching/">Teaching</a></li>
        <li><a class="nav-item hide-small" href="/about/">About</a></li>
      </ul>
    </div>
  </div>
</nav>
