{{ partial "header.html" . }}

<body class="articles">

  <!-- special version for homepage? -->
  {{ partial "nav.html" . }}

  <div class="go-to">
    <ul>
      <li><i>Go to:</i></li>
      <li><a href="#journals-and-magazines">Journals and Magazines</a></li>
      <li><a href="#edited-collections">Edited Collections</a></li>
      <li><a href="#exhibition-catalogues">Exhibition Catalogues</a></li>
    </ul>
  </div>

  <div class="content">
    {{ .Content }}
  </div>

{{ partial "footer.html" . }}
